<%-include('parts/header.ejs') %>
<br />
<br />
<br />
<br />
<br />

<form action="">
  <input type="text" name="title" value="<%= book.title %>" />
  <input type="text" name="description" value="<%= book.description %>" />
  <input type="number" name="price" value="<%= book.price %>" />
</form>

<%-include('parts/footer.ejs') %>
