<%-include('parts/header.ejs') %>
<br />
<br />
<br />
<br />
<br />

<div class="card-container">

    <form action="/mybooks" method="get">
        <input type="search" name="q" placeholder="Seach by title ...">

        <select name="sort" >
            <option> Sort by :</option>
            <option value="price_asc">
                Price : Low to High
            </option>

                 <option value="price_desc">
                Price :     High to Low
            </option>

                       <option value="title_asc">
                Title :   A ==> Z
            </option>

                       <option value="title-desc">
                Title :    Z ==> A
            </option>

                       <option value="newest">
          Newest
            </option>

            
        </select>

        <input type="number" name="min" placeholder="min price ...">
        
        <input type="number" name="max" placeholder="max price ...">
        <button type="submit">Filter</button>

    </form>

<% books.forEach(ele => { %> 

    <div class="book-card">
      
        <img src="/uploads/<%= ele.image %>" alt="">

<div class="card-info">
            <h3 class="abc">
               <%= ele.title %> 
            </h3>
    
        
                 <h4>
                    <%= ele.price %>  
            </h4>
             
    
                  <h4 class="description">
                    <%= ele.description %>  
            </h4>
</div>

<div class="links-container">
    <a class="btn btn-danger" href="/ourbooks/delete/<%= ele._id %>">delete</a>
    <a class="btn btn-success" href="/ourbooks/edit/<%= ele._id %>">
      Edit
    </a>

</div>

    </div>

    <% }) %>


</div>

<%-include('parts/footer.ejs') %>
